#board_title, h1 {
    display: none;
}

h3 {
    color: #fff;
}

.opening a {
    font-family: 'AT Osmose',sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -.24px;
    color: #fff;
}


.location {
    font-family: 'Fakt Pro Blond',sans-serif;
    font-size: 16px;
    line-height: 23px;
}
